:root{
    --project-brown:#B47B48;
    --button:#C85312;
    --project-background:#272727;
    --back-brown:#EBAD51;
    --back-footer:#202023;
}
a{
    text-decoration:none;
    color:white;
}
ul{
    list-style-type:none;
}
p,h3,h2,h1,h4,ul,img,div{
    margin:0;
    padding:0;
}
html{
    background-color:var(--project-background);
}
body{
    font-family:'Inter', sans-serif;
    font-size: 24px;
    font-weight:200;
    color:white;
    line-height: 1.21 ;
}
button{
    cursor:pointer;
}
.container{
    width: 1200px;
    margin:0 auto;
    padding: 0 15px;
}

.navigation{
    display:flex;
    flex-direction:row;
    gap:28px;
    padding-top:54px;
}
.hero{
    background-image: url('../img/background1.jpg');
    background-size: 1440px auto;
    background-position:center;
    background-repeat:no-repeat;
    padding-top:93px;
    padding-bottom:36px;
}
.hero-title{
    font-size:70px;
    font-weight:200;
    margin-bottom:40px;
}
.hero-text{
    font-weight:300;
    font-size:21px;
}
.hero-title, .hero-text{
    width: 575px;
}
.hero-btn{
    font-family:'Inter', sans-serif;
    display:inline-block;
    font-weight:300;
    padding:16px 34px 7px;
    background-color: var(--project-brown);
    border-radius:17px;
    margin:33px 0 125px;
    border:none;
    color:white;
}
.hero-list{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.hero-list-item{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: flex-end;
    flex-wrap:wrap;
    background-color:var(--project-background);
    padding-right:12px;
    padding-bottom:43px;
}
.hero-list-item:hover{
    background-color:var(--back-brown);
    background-image:linear-gradient(to right, rgba(128, 128, 128, 0.825) 40%,rgba(128, 128, 128, 0));
}
.hero-list-item{
    /* w, h, flex, column, padding (move to right edge) */
    display:block;
    width: 310px;
    height: 225px;
    background-repeat:no-repeat;
    background-position:left;
}
.hero-list-item:first-child{
    background-image:url('../img/traditional1.png');
    padding-top:51px;
    padding-left:162px;
}
.hero-list-item:nth-child(2){
    background-image:url('../img/traditional2.png');
    padding-top:51px;
    padding-left:200px;
}
.hero-list-item:nth-child(3){
    background-image:url('../img/traditional3.png');
    padding-left:185px;
    padding-top:27px;
}
.hero-list-price{
    text-align:center;
}
.hero-list-name{
    margin-top:17px;
    margin-bottom: 35px;
    font-size:14px;
    font-weight:500;
    text-align:center;
}
.crushed-choco{
    margin-top:0;
}
.berry-pie{
    margin-top:13px;
}
.hero-list-btn{
    display:block;
    margin:0 auto;
    font-weight:900;
    width: 79px;
    font-family:'Inter', sans-serif;
    font-size:16px;
    line-height:1.21;
    color:white;
    background-color: var(--button);
    border:none;
    padding:12px 22px 7px;
    /* margin-left:25px; */
}
.menu{
    padding-top:35px;
    padding-bottom:75px;
}
.menu-list{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    column-gap:200px;
    row-gap:10px;
    /* justify-content: space-between; */
}
.menu-list-item{
    flex-basis:calc((100% - 1*200px) / 2);
    width: 328px;
    height: 300px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}
.menu-title{
    text-align:center;
    font-size:64px;
    font-weight:100;
}
.menu-list-container{
    display:flex;
    align-items:center;
    justify-content: space-between;
    flex-direction:column;
    width: 328px;
    height: 250px;
    border:1px solid white;
    padding-bottom: 1px;
    /* padding-top:15px; */
}
.menu-list-bread{
    padding-top:20px;
}
.menu-list-img{
    display:block;
    height: 210px;
    padding-top:0;
}
.menu-list-titles{
    text-align:center;
    margin:0;
}
.menu-list-titles, .menu-btn{
    font-size:25px;
    font-weight:800;
}

.menu-btn{
    color:white;
    background-color:var(--project-brown);
    border:none;
    border-radius: 17px;
    padding:9px 44px;
    margin-top: 10px;
}
.quality{
    background-image:radial-gradient(circle at  bottom left, #202023b3 40% , #20202300 ), url('../img/qualityback.svg');
    /* background-image:url('../img/qualityback.svg'); */
    background-position: bottom;
    /* background-size: contain; */
    background-repeat:repeat-x;
    height: 850px;
    padding-top:86px;
    padding-bottom:49px;
}
.quality-title, .why-title, .location-title{
    font-family:'Italiana', serif;
    font-weight:400;
}
.quality-title{
    font-size:64px;
    text-align:center;
}
.quality-list{
    display:flex;
    flex-direction:row;
    height: 630px;
    /* gap:34px; */
    justify-content: space-between;
}
.quality-list-item{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.choco{
    width: 256px;
}
.cherry-pie{
    width: 280px;
}
.quality-list-item:nth-child(1){
    align-self:flex-start;
}
.quality-list-item:nth-child(2){
    align-self:center;
}
.quality-list-item:nth-child(3){
    align-self:flex-end;
}
.quality-num-list{
    padding:30px 5px 60px 45px;
    background-color:grey;
}
.num-list-item{
    font-weight:500;
}
.why-us{
    padding-top: 57px;
    padding-bottom:52px;
    background-image:linear-gradient(to right, black 30%, rgba(3,3,3,0)), url('../img/backgroundimg2.jpg');
    background-repeat:no-repeat;
    background-size:1440px;
    background-position:center;
}
.why-title, .location-title {
    font-size:48px;
}
.why-title{
    margin-bottom:123px;
    width: 570px;
}
.why-list{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:baseline;
}
.why-list-item{
    font-weight:700;
}
.why-list-item::before{
    content:'';
    display:block;
    height: 200px;
    width: 230px;
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
}
.why-list-item:nth-child(1)::before{
    background-image:url('../img/whyus1.svg');
}
.why-list-item:nth-child(2)::before{
    background-image:url('../img/Frame1.svg');
}
.why-list-item:nth-child(3)::before{
    background-image:url('../img/whyus2.svg');
}
.why-list-text{
    text-align:center;
    margin-top:15px;
}
.location{
    padding-bottom:51px;
    padding-top:77px;
}
.location-title{
    margin-bottom:55px;
}
.location-info{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.location-how{
    width: 230px;
    display:flex;
    flex-direction:column;
}
.location-time-text{
    width: 138px;
    text-align:center;
}
.location-when-title{
    text-align:center;
}
.location-how-title, .location-when-title{
    font-weight:400;
    font-size:40px;
    margin-bottom:54px;
}
.location-link, .location-tel{
    font-weight:300;
}
.location-tel{
    margin-bottom:65px;
}
.location-link{
    margin-bottom:32px;
}
.location, .footer{
    background-color:var(--back-footer);
}
.footer{
    padding-top:40px;
    padding-bottom:44px;
}
.footer-title{
    font-weight:200;
    font-size:40px;
    width: 325px;
    margin-bottom:15px;
}
.footer-flex{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-bottom:85px;
}
.footer-text{
    font-size:20px;
    font-weight:300;
}
.group-title{
    margin-bottom:43px;
}
.group-title, .footer-list-link{
    font-weight:300;
}
.rights-recieved{
    font-weight:100;
    font-size:20px;
    text-align:center;
}
